p,div{
  text-shadow: 0.1em 0.1em 0.2em black;
  color:White;
  font-family: sans-serif ;
}

h1 {
  font-size: 12px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color:White;
  font-family: sans-serif ;
}

#Thead{
  text-align: center;
  width: 100%;
  
}

#titleB {
  font-size:11px;
}

a,p  {
  font-size:11px;
}

/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 420px; /* fallback for older browsers */
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 340px; /* fallback for older browsers */
    height: 60vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--comet {
	-webkit-transform:: translateZ(110px) scale(.5);
	transform: translateZ(110px) scale(.5);
	z-index: 5;
  }
  
  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(-100);
    transform: translateZ(-100);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  .title {
	font-size:14px;
	top: 25%;
  }
  
  
  /* styles groups individually */
   .parallax__layer--fore {
    height:120vh;
  }
  
  
  
  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
	background-color: transparent;
	background-image: url('../img/stars1.png');
	opacity: 1;
	background-position: -250px 0px ;
	
  }

  #group1 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: 1;
	background-position: -80px 0px ;
  }
  
  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  
  #group2 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: 1;
	background-position: -80px 0px ;
  }
  
  #group2 .parallax__layer--back {
    background-color: transparent;
	
  }

  #group2 .parallax__layer--base {
	background-image: url('../img/stars1.png');
	opacity: 1;
	background-position: -250px 0px ;
  }
  
  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  
  #group3 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: 1;
	background-position: -80px 0px ;
  }
  
  #group3 .parallax__layer--base {
    background-color: transparent;
	background-image: url('../img/stars1.png');
	opacity: 1;
	background-position: -250px 0px ;
  }
  
  #group4 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: .7;
	background-position: 0px 0px ;
  }
  
  #group4 .parallax__layer--deep {
    background-color: transparent;
	background-image: url(../img/starsbgl.jpg);
	background-size: 70%;
	background-position: top ;
	opacity: 1;
	background-position: 0px 0px ;
	height: 200vh;
	bottom: 0px;
	top 0px;
  }

  #group4 .parallax__layer--back {
	background-image: url(../img/sun.png);
	background-position: 0px 10px ;
	background-repeat: no-repeat;
	opacity: .9;
	background-size: 40%;
	height: 300vh;
	overflow: visible;
  }
  
  #group4 .parallax__layer--base {
	background-image: url('../img/stars1.png');
	opacity: 1;
	background-position: -250px 0px ;
  }
  
  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  
  #group5 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: .7;
	background-position: -80px 0px ;
	padding-top:160px;
	
  }
  
  #group5 .parallax__layer--base {
    background-color: transparent;
	background-image: url('../img/stars2.png');
	opacity: .5;
  }

  #group5 .parallax__layer--base {
	background-image: url('../img/stars1.png');
	opacity: 1;
	background-position: -250px 0px ;
  }
  
  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  
  #group6 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: .7;
	background-position: -80px 0px ;
	padding-top: 20px;
	height: 200vh;
  }
  
  #group6 .parallax__layer--back {
    background-color: transparent;
	background-image: url('../img/nebula1.png');
	background-repeat: no-repeat;
	background-position: 0px 0px ;
	opacity: .4;
	background-size: 100%;
	height: 200vh;
  }

  #group6 .parallax__layer--base {
	background-image: url('../img/stars1.png');
	opacity: .9;
	background-position: -250px 0px ;
	height: 200vh;
  }
  
  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  
  #group7 .parallax__layer--fore {
	background-color: transparent;
	overflow: visible;
	background-image: url('../img/stars2.png');
	background-size: 130%;
	opacity: .7;
	background-position: -80px 0px ;
	height:425vh;
  }

  #group7 .parallax__layer--back {
	background-image: url('../img/sun.png');
	background-position: 10px 10px ;
	background-repeat: no-repeat;
	opacity: .7;
	background-size: 20%;
	height: 200vh;
	overflow: visible;
  }
  
  #group7 .parallax__layer--base {
	background-image: url('../img/stars1.png');
	opacity: .9;
	background-position: -250px 0px ;
	height: 500vh;
  }
  
  
body,footer{
  width:100%;
  padding: 0 0 0 0px;
  background-color: #000;
}

div {
  padding: 0 0 0 0px;
}

img{
  width: 100%;
}

body, html {
    overflow: hidden;
  }


body {
  height:100%;
  width:100%;
  font-size: 22pt;
  /*background-image:url(../img/starsbgl.jpg);*/
}

div#spot1a,#spot2a,#spot3a {
  position: relative;
  margin:0 0 0 0px;
  padding: 0px 0px 0px 0px;
}

div#spot1b, #spot2b, #spot3b {
  display: block;
  margin: 0px 0px 0px;
  padding: 14 28 12px;
  background-color:#333;
  height: auto;
}

div#spot1a{
  
}

h1 {
  font-size: 20px;
  color: White;
  
}

p {
  font-size: 15px;
  text-decoration:none;
  color: White;
}

p4,p5,p6{
  font-size:11px;
}

footer{
  display: block;
  background-color: #333;
  margin: 30px 0 10px;
  
}

#tbanner {
  z-index: 7;
  background-color: #333;
  height: 40px;  position: fixed;
  top: 3px;
  margin: 0px 0 0px;
  padding: 0 0 0 0px;
}

#menuicon {
  height: 34px;
  width: 36px;
  z-index: 5;
  padding: 15 15 5 5px;
  margin: 15 15 :5 5px;
  background-color:#333;
}

div#mbar1, #mbar2, #mbar3 {
  z-index: 6;
  width: 35px;
  height: 5px;
  background-color: White;
  margin: 6px 3px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: White;
	font-size: 11px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:LightGray;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: White;
	
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
